:root {
    --pinzindex: 1;
    --linezindex: 0;
    --logozindex: -1;
    --snippetzindex: -2;
}


.container{
    height: 90em;
    position: relative;
}
.header{
    Font-family: "Farmhouse Children";
    position: absolute;
    font-size: 2em;
    margin: 0;
}
.headerunderline{
    margin: 0;
    Font-family: "Farmhouse Children";
    font-size: 2em;
    line-height: 0;
    position: absolute;
}
.headerwrap{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 54em;
}
.skillpin{
    position: absolute;
    left: 57em;
    top: 7px;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
}
.linetocsharp{
    width: 454px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-19deg);
    position: absolute;
    left: 31em;
    top: 6em;
}
.csharplogo{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: var(--logozindex);
    left: 25.5em;
    top: 10em;
}
.desktopheader{
    margin: 0;
    position: absolute;
    left: 8em;
    top: 2em;
    Font-family: "Just Me Again Down Here";
    font-size: 40px;
}
.csharppin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 30.2em;
    top: 10.3em;
}
.comments{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 39em;
    top: 9em;
    transform: rotate(-25deg);
    width: max-content;
}
.comments > div{
    display: flex;
    flex-direction: row;
}
.comments > *{
    user-select: none;
    Font-family: "Just Me Again Down Here";
}
.arrowcsharp{
    margin: 0;
    position: relative;
    bottom: 40px;
    font-size: 46px;
}
.fouryears{
    margin: 0;
    position: relative;
    bottom: 20px;
    transform: rotate(25deg);
    font-size: 40px;
    -webkit-transform-origin: 50% 51%;
}
.pro{
    font-size: 46px;
    margin: 0;
}
.smile{
    margin: 0 0 0 20px;
    font-size: 49px;
}
.csharpsnippet{
    Font-family: "Just Me Again Down Here";
    z-index: var(--snippetzindex);
    position: absolute;
    left: 10.4em;
    transform: rotate(8deg);
    font-size: 30px;
}

.linetohtml{
    width: 606px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(11deg);
    position: absolute;
    left: 57.7em;
    top: 5em;
}
.htmllogo{
    z-index: var(--logozindex);
    position: absolute;
    width: 250px;
    height: 250px;
    left: 87em;
    top: 6em;
}
.htmlpin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 93.5em;
    top: 8em;
}
.htmlsnippet{
    Font-family: "Just Me Again Down Here";
    z-index: var(--snippetzindex);
    position: absolute;
    font-size: 20px;
    left: 69em;
    top: 3em;
}
.webheader{
    margin: 0;
    position: absolute;
    top: 2em;
    Font-family: "Just Me Again Down Here";
    font-size: 60px;
    left: 17em;
}
.javascriptlogo{
    position: absolute;
    width: 280px;
    height: 280px;
    left: 55em;
    margin: 0;
    z-index: var(--logozindex);
    top: 15em;
}
.linetojavascript{
    width: 512px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(162deg);
    position: absolute;
    left: 63.7em;
    top: 14em;
}
.javascriptpin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 63em;
    top: 18.4em;
}
.javascriptsnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 50em;
    font-size: 20px;
    top: 19em;
    transform: rotate(-7deg);
    z-index: var(--snippetzindex);
}
.csslogo{
    position: absolute;
    width: 200px;
    height: 280px;
    left: 95em;
    top: 25em;
    z-index: var(--logozindex);
}
.linetocssfromhtml{
    width: 339px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(75deg);
    position: absolute;
    left: 87em;
    top: 18.5em;
}
.linetocssfromjavascript{
    width: 595px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(196deg);
    position: absolute;
    left: 63.7em;
    top: 24em;
}
.csspin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 99em;
    top: 28em;
}
.csssnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 65em;
    font-size: 26px;
    top: 18em;
    transform: rotate(8deg);
    z-index: var(--snippetzindex);
}
.reactpin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 74.5em;
    top: 35em;
}
.reactlogo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 69em;
    margin: 0;
    z-index: var(--logozindex);
    top: 33em;
}
.linetoreact{
    width: 328px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(235deg);
    position: absolute;
    left: 59.7em;
    top: 27em;
}
.reactsnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 43em;
    font-size: 26px;
    top: 23em;
    z-index: var(--snippetzindex);
}
.linetovite{
    width: 338px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(367deg);
    position: absolute;
    left: 55.7em;
    top: 34.5em;
}
.vitelogo{
    z-index: var(--logozindex);
    position: absolute;
    width: 170px;
    left: 50em;
    top: 32em;
}
.vitepin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 54em;
    top: 32em;
}
.vitesnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 30em;
    font-size: 26px;
    top: 21em;
    z-index: var(--snippetzindex);
}

.cpluspluslogo{
    z-index: var(--logozindex);
    position: absolute;
    width: 190px;
    left: 10em;
    top: 25em;
}
.linetocplusplus{
    width: 396px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-50deg);
    position: absolute;
    left: 11em;
    top: 21em;
}
.cpluspluspin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 14.2em;
    top: 29.3em;
}
.cplusplussnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 7em;
    font-size: 26px;
    top: 16em;
    z-index: var(--snippetzindex);
    transform: rotate(-7deg);
}

.sqllogo{
    z-index: var(--logozindex);
    position: absolute;
    width: 300px;
    left: 48em;
    top: 54em;
}
.sqlpin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 52.5em;
    top: 53em;
}
.sqlsnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 27em;
    font-size: 25px;
    top: 35em;
    z-index: var(--snippetzindex);
    transform: rotate(1deg);
}
.linetosqlfromcsharp{
    width: 771px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-118deg);
    position: absolute;
    left: 19em;
    top: 33em;
}
.linetosqlfromcplusplus{
    width: 731px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-148deg);
    position: absolute;
    left: 12em;
    top: 41em;
}
.linetosqlfromjavascript{
    width: 599px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-73deg);
    position: absolute;
    left: 40.5em;
    top: 36em;
}
.linetosqlfrompython{
    width: 579px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-6deg);
    position: absolute;
    left: 53em;
    top: 51.4em;
}
.pythonlogo{
    z-index: var(--logozindex);
    position: absolute;
    width: 350px;
    left: 79em;
    top: 43em;
    height: auto;
}
.pythonpin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 88.5em;
    top: 48.8em;
}
.pythonsnippet{
    Font-family: "Just Me Again Down Here";
    position: absolute;
    left: 58em;
    font-size: 22px;
    top: 31em;
    z-index: var(--snippetzindex);
    transform: rotate(-8deg);
}
.linetoresumefromcplusplus{
    width: 1089px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(55deg);
    position: absolute;
    left: 1em;
    top: 57.4em;
}
.linetoresumefromsql{
    width: 506px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(90deg);
    position: absolute;
    left: 38.3em;
    top: 69.4em;
}
.linetoresumefrompython{
    width: 819px;
    color: red;
    height: 1px;
    background-color: red;
    z-index: var(--linezindex);
    transform: rotate(-44deg);
    position: absolute;
    left: 46em;
    top: 67.4em;
}
.resumepin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 52.5em;
    top: 83.8em;
}