:root {
    --pinzindex: 1;
    --linezindex: 0;
    --logozindex: -1;
    --snippetzindex: -2;
}
.linetocsharp,.linetohtml,.linetojavascript,.linetocssfromhtml,.linetocssfromjavascript,
.linetoreact,.linetovite,.linetocplusplus,.linetosqlfromcsharp,.linetosqlfromcplusplus,
.linetosqlfromjavascript,.linetosqlfrompython,.linetoresumefromcplusplus,.linetoresumefromsql,
.linetoresumefrompython{
    height: 2px;
    background-color: red;
    z-index: var(--linezindex);
    position: absolute;
    border: none;
}
.skillpin,.csharppin,.htmlpin,.javascriptpin,.csspin,.reactpin,.vitepin,.cpluspluspin,.sqlpin,
.pythonpin,.resumepin{
    position: absolute;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
}
.csharpsnippet,.htmlsnippet,.javascriptsnippet,.csssnippet,.reactsnippet,.vitesnippet,.cplusplussnippet,
.sqlsnippet,.pythonsnippet{
    Font-family: "Just Me Again Down Here";
    z-index: var(--snippetzindex);
    position: absolute;
    font-size: 20px;
}
.csharplogo,.htmllogo,.javascriptlogo,.csslogo,.reactlogo,.vitelogo,.cpluspluslogo,.sqllogo,.pythonlogo{
    position: absolute;
    z-index: var(--logozindex);
}
.container{
    overflow: hidden;
    height: 90em;
    position: relative;
}
.header{
    Font-family: "Farmhouse Children";
    position: relative;
    font-size: 2em;
    margin: 0;
    text-align: initial;
}
.headerunderline{
    margin: 0;
    Font-family: "Farmhouse Children";
    font-size: 2em;
    line-height: 0;
    position: absolute;
}
.headerwrap{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    left: 54em;
}
.desktopheader{
    margin: 0;
    position: absolute;
    left: 8em;
    top: 2em;
    Font-family: "Just Me Again Down Here";
    font-size: 40px;
}

.skillpin{
    left: 57em;
    top: 7px;
}
.linetocsharp{
    width: 454px;
    transform: rotate(-19deg);
    left: 31em;
    top: 6em;
}
.csharpcontainer{
    width: 200px;
    position: relative;
    left: 25.5em;
    top: 6em;
}
.csharplogo{
  width: 100%;
  height: auto;
    
}
.csharppin{
    width: 100%;
    top: 10px;
}
.comments{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 39em;
    top: 4em;
    transform: rotate(-25deg);
    width: max-content;
}
.comments > div{
    display: flex;
    flex-direction: row;
}
.comments > *{
    user-select: none;
    Font-family: "Just Me Again Down Here";
}
.arrowcsharp{
    margin: 0;
    position: relative;
    bottom: 40px;
    font-size: 46px;
}
.fouryears{
    margin: 0;
    position: relative;
    bottom: 20px;
    transform: rotate(25deg);
    font-size: 40px;
    -webkit-transform-origin: 50% 51%;
}
.pro{
    font-size: 46px;
    margin: 0;
}
.smile{
    margin: 0 0 0 20px;
    font-size: 49px;
}
.csharpsnippet{
    left: 10.4em;
    transform: rotate(8deg);
    font-size: 30px;
}

.linetohtml{
    width: 606px;
    transform: rotate(11deg);
    left: 57.7em;
    top: 5em;
}
.htmllogo{
    width: 250px;
    height: 250px;
    left: 87em;
    top: 6em;
}
.htmlpin{
    left: 93.5em;
    top: 8em;
}
.htmlsnippet{
    left: 69em;
    top: 3em;
}
.webheader{
    margin: 0;
    position: absolute;
    top: 2em;
    Font-family: "Just Me Again Down Here";
    font-size: 60px;
    left: 17em;
}
.javascriptlogo{
    width: 280px;
    height: 280px;
    left: 55em;
    margin: 0;
    top: 15em;
}
.linetojavascript{
    width: 512px;
    transform: rotate(162deg);
    left: 63.7em;
    top: 14em;
}
.javascriptpin{
    left: 63em;
    top: 18.4em;
}
.javascriptsnippet{
    left: 50em;
    top: 19em;
    transform: rotate(-7deg);
}
.csslogo{
    position: relative;
    width: 100%
}
.csspin{
    position: absolute;
    left: 4.5em;
    top: 2em;
}  
.csscontainer{
    width: 200px;
    position: relative;
    left: 94em;
    top: 10em;
}
.linetocssfromhtml{
    width: 339px;
    transform: rotate(75deg);
    left: 87em;
    top: 18.5em;
}
.linetocssfromjavascript{
    width: 595px;
    transform: rotate(196deg);
    left: 63.7em;
    top: 24em;
}
 
.csssnippet{
    left: 65em;
    font-size: 26px;
    top: 18em;
    transform: rotate(8deg);
}
.reactpin{
    left: 74.5em;
    top: 35em;
}
.reactlogo{
    width: 200px;
    height: 200px;
    left: 69em;
    margin: 0;
    top: 33em;
}
.linetoreact{
    width: 328px;
    transform: rotate(235deg);
    left: 59.7em;
    top: 27em;
}
.reactsnippet{
    left: 43em;
    font-size: 26px;
    top: 23em;
}
.linetovite{
    width: 338px;
    transform: rotate(367deg);
    left: 55.7em;
    top: 34.5em;
}
.vitelogo{
    width: 170px;
    left: 50em;
    top: 32em;
}
.vitepin{
    left: 54em;
    top: 32em;
}
.vitesnippet{
    left: 30em;
    font-size: 26px;
    top: 21em;
}
.cpluspluslogo{
    width: 190px;
    left: 10em;
    top: 25em;
}
.linetocplusplus{
    width: 396px;
    transform: rotate(-50deg);
    left: 11em;
    top: 21em;
}
.cpluspluspin{
    left: 14.2em;
    top: 29.3em;
}
.cplusplussnippet{
    left: 7em;
    font-size: 26px;
    top: 16em;
    transform: rotate(-7deg);
}

.sqllogo{
    width: 300px;
    left: 48em;
    top: 54em;
}
.sqlpin{
    left: 52.5em;
    top: 53em;
}
.sqlsnippet{
    left: 27em;
    font-size: 25px;
    top: 35em;
    transform: rotate(1deg);
}
.linetosqlfromcsharp{
    width: 771px;
    transform: rotate(-118deg);
    left: 19em;
    top: 33em;
}
.linetosqlfromcplusplus{
    width: 731px;
    transform: rotate(-148deg);
    left: 12em;
    top: 41em;
}
.linetosqlfromjavascript{
    width: 599px;
    transform: rotate(-73deg);
    left: 40.5em;
    top: 36em;
}
.linetosqlfrompython{
    width: 579px;
    transform: rotate(-6deg);
    left: 53em;
    top: 51.4em;
}
.pythonlogo{
    width: 350px;
    left: 79em;
    top: 43em;
    height: auto;
}
.pythonpin{
    left: 88.5em;
    top: 48.8em;
}
.pythonsnippet{
    left: 64em;
    top: 35em;
    transform: rotate(-8deg);
}
.linetoresumefromcplusplus{
    width: 1089px;
    transform: rotate(55deg);
    left: 1em;
    top: 57.4em;
}
.linetoresumefromsql{
    width: 506px;
    transform: rotate(90deg);
    left: 38.3em;
    top: 69.4em;
}
.linetoresumefrompython{
    width: 819px;
    transform: rotate(-44deg);
    left: 46em;
    top: 67.4em;
}
.resumepin{
    left: 52.5em;
    top: 83.8em;
}

@media (max-width: 1725px) {
    .webheader{
        top: 1.5em;
    }
    .desktopheader{
        left: 1em;
    }
    .headerwrap{
        left: 47em;
    }
    .skillpin{
        left: 48em;
        top: 49px;
    }
    .linetocsharp{
        width: 686px;
        transform: rotate(-10deg);
        left: 7em;
        top: 7.7em;
    }
    .csharplogo{
        left: 1.5em;
    }
    .csharppin{
        left: 6.2em;
    }
    .linetohtml{
        width: 730px;
        transform: rotate(6deg);
        left: 49.7em;
        top: 6.5em;
    }
    .csharpsnippet{
        left: 0.4em;
        transform: rotate(9deg);
        top: 7em;
    }
    .comments{
        left: 14em;
        top: 1em;
    }
    .cpluspluslogo{
        left: 5em;
        top: 34em;
    }
    .cpluspluspin{
        left: 9.2em;
        top: 38.3em;
    }
    .cplusplussnippet{
        left: 3em;
        top: 28em;
        font-size: 20px;
    }
    .linetocplusplus{
        width: 463px;
        transform: rotate(84deg);
        left: -5.2em;
        top: 25em;
    }
    .linetosqlfromcsharp{
        width: 1007px;
        transform: rotate(-138deg);
        left: 0.5em;
        top: 33em;
    }
    .linetoresumefromcplusplus{
        width: 1020px;
        transform: rotate(46deg);
        left: 0em;
        top: 61.4em;
    }
    .linetosqlfromcplusplus{
        width: 710px;
        transform: rotate(-161deg);
        left: 10em;
        top: 46em;
    }
    .linetojavascript{
        width: 718px;
        transform: rotate(177deg);
        left: 49.7em;
        top: 10em;
    }
    .javascriptlogo{
        left: 40em;
        top: 8em;
    }
    .javascriptsnippet{
        left: 34em;
        top: 12em;
    }
    .javascriptpin{
        left: 48em;
        top: 10.4em;
    }
    .vitelogo{
        left: 33em;
        top: 26em;
    }
    .vitepin{
        left: 37em;
        top: 27em;
    }
    .vitesnippet{
        left: 26em;
        top: 22em;
        font-size: 20px;
    }
    .linetovite{
        width: 332px;
        transform: rotate(0deg);
        left: 39.3em;
        top: 27.5em;
    }
    .csslogo{
        left: 84em;
    }
    .linetocssfromhtml{
        transform: rotate(104deg);
        left: 82em;
        top: 18.5em;
    }
    .linetocssfromjavascript{
        width: 441px;
        transform: rotate(200deg);
        left: 63.7em;
    }
    .csspin{
        left: 88.5em;
    }
    .csssnippet{
        font-size: 23px;
        top: 21em;
    }

    .reactpin{
        left: 58.5em;
        top: 27em;
    }
    .reactlogo{
        left: 54em;
        top: 26em;
    }
    .linetoreact{
        width: 339px;
        transform: rotate(238deg);
        left: 44em;
        top: 19em;
    }
    .reactsnippet{
        left: 34em;
        top: 17em;
    }
    .linetohtml{
        width: 730px;
        transform: rotate(6deg);
        left: 49.7em;
        top: 6.5em;
    }
    .linetocssfromjavascript{
        width: 681px;
        transform: rotate(203deg);
        left: 48.7em;
        top: 20em;
    }
    .linetosqlfromjavascript{
        width: 698px;
        transform: rotate(84deg);
        left: 30em;
        top: 32em;
    }

}

@media (max-width:1620px) {
    .pythonlogo{
        left: 58em;
        top: 33em;
    }
    .pythonsnippet{
        left: 49em;
        top: 28em;
    }
    .pythonpin{
        left: 68.5em;
        top: 38.8em;   
    }
    .linetosqlfrompython{
        width: 350px;
        transform: rotate(139deg);
        left: 51em;
        top: 46.4em;
    }
    .linetoresumefrompython{
        width: 774px;
        transform: rotate(110deg);
        left: 38em;
        top: 62.4em;
    }
    .csslogo{
        left: 71em;
        top: 25em;
        width: 165px;
        height: min-content;
    }
}

 