 



.Container {
    padding: 0;
    text-align: center;
    transition: 0.5s ease-in-out;
    margin: 0 0 13em;
}

.Wrapper {
    width: 100%;
    height: 100%;
    max-width: 60em;
    max-height: 550px !important;
    overflow: hidden;
    position: relative;
    display: flex;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.LiveDemoLink{
    margin: 0 10px;
}

@media (max-width: 585px) {
    .Text {
       display: none;
    }
}
@media (max-width: 600px) {
    .Projectdiv {
        max-width: 100%;
        flex-direction: column;
    }
}

.Img {
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.Wrapper:hover .Img {
    transform: scale(1.1);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.Description {
    top: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 101%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    position: absolute;
    width: inherit;
}


.Wrapper:hover  .Description {
    transition: all 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    height: inherit;
    width: inherit;
}

.ProjectInfo {
    position: absolute;
    opacity: 1;
    color: black;
    max-width: 500px;
    top: 7em;
    left: 2em;
    text-align: initial;
}

.Header {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 34px;
    margin: 0 0 10px;
}

.Text {
    position: relative;
    margin: 0;
    font-family: "Consolas", sans-serif;
    font-weight: normal;
}
 
 

.GithubLogo {
    margin-top: 15px;
    width: 25px;
}

.TextContainer {
    position: relative;
    top: 4em;
    left: 4em;
    text-align: initial;
    max-width: 500px;
}
 