.Container {
     text-align: center;
     position: relative;
     margin-bottom: 9em;
}
.Text{
     margin: 0;
     font-size: 30px;
     font-family: "Consolas", sans-serif;
    font-weight: bold;
}

.highlightcontainer,
.highlight {
    position: relative;
}

.highlightcontainer {
    display: inline-block;
    z-index: -1;
}
.highlightcontainer:before {
    content: " ";
    display: block;
    height: 110%;
    width: 110%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background-image: url("../../../Assets/Png/TextMarkerCircle.png");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(2deg);
    bottom: -13px;
    left: -16px;
    padding: 20px 3px 3px 20px;
}

 
 @media (max-width:254px) {
     .Text {
         min-width: 230px;
     }
 }
