.ProjectIntroPos{
     text-align: center;
     position: relative;
     margin-bottom: 9em;
}
.ProjectIntroText{
     margin: 0;
     font-size: 30px;
}
.TextmarkerCircle{
     position: relative;
     top: 57px;
     left: 252px;
     z-index: -1;
}