.LanguageHelperPos {
     position: relative;
     text-align: right;
     margin: 0 10px 0 0;
     bottom: 30px;
}

.LanguageHelperText {
     font-family: Kbswiftly;
     margin: 0;
     text-align: right;
}

.LanguageArrow{
     transform: rotate(180deg);
     position: relative;
     width: 25px;
     margin-right: 105px;
}