.linemiddle,
.line,
.leftline {
    border: none;
    height: 2px;
    background-color: red;
    z-index: var(--linezindex);
    position: absolute;
}

.leftline {
    left: 38.6em;
    top: 3em;
    width: 244px;
}

.line {
    width: 150px;
    left: 54.6em;
    top: 2.7em;
}

.year,
.leftyear {
    left: 28em;
    bottom: 2em;
    width: max-content;
    margin: 0;
    Font-family: "Farmhouse Children";
    font-size: 2em;
    position: relative;
}

.leftrbcontainer {
    left: 18.65em;
    bottom: 9em;
    position: relative;
    width: max-content;
}

.leftyear {
    left: 20em;
}

.linemiddle {
    width: 753px;
    transform: rotate(90deg);
    left: 30.5em;
    top: 108em;
}


.pin {
    position: relative;
    z-index: var(--pinzindex);
    width: 50px;
    height: 50px;
    left: 52.5em;
    top: 2em;
}

 

.headerwrap {
    top: 57em;
    left: 45em;
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column-reverse;
}

.headerwrap,
.headerwrap>* {
    font-size: 1.4em;
    Font-family: "Farmhouse Children";
    margin: 0;
    padding: 0;
}

.headerunderline {
    height: min-content;
}

.header {
    top: -90px;
    position: relative;
}



.rbcontainer {
    left: 64em;
    bottom: 9em;
    position: relative;
    width: max-content;
}

.year {
    width: max-content;
    margin: 0;
    Font-family: "Farmhouse Children";
    font-size: 2em;
    position: relative;
}


.wrapper {
    position: relative;
    top: -51em;
}


@media (max-width: 1620px) {
    .linemiddle{
        width: 693px;
    
        left: 32.5em;
        top: 107em; 
    }
}



@media (max-width: 1600px) {
    .headerwrap {
        left: 30em;
    }

    .rbcontainer {
        left: 18.65em;
    }

    .year {
        left: 20em;
    }

    .line {
        left: 38.6em;
        top: 3em;
        width: 244px;
    }

}



@media (max-width: 1380px) {
    .headerwrap {
        left: 20em;
    }

    .linemiddle {
        left: 24.1em;
    }

    .wrapper {
        left: -133px;  
          top: -48em;
    }

}




@media (max-width: 1200px) {
    .headerwrap {
        left: 39em;
    }

    .linemiddle {
        left: 14em;
    }

    #m .line {
        left: 54.6em;
        width: 150px;
    }

    #m .rbcontainer {
        left: 64em;
    }

    #m .year {
        left: 28em;
    }

    .headerwrap{
        left: 27em;
        top: 63em;
    }
 

    .wrapper {
        left: -294px;
    }

}

@media (max-width:1060px) {

    .rbcontainer,
    .leftrbcontainer {
        left: 21.65em;
    }

    .linemiddle{
        top: 108em;
        width: 736px;
        left: 12.6em;
    }
 
}


@media (max-width:1010px) {
    #m .line {
        left: 38.6em;
        top: 3em;
        width: 244px;
    }

    #m .rbcontainer {
        left: 21.65em;
    }

    #m .year {
        left: 20em;
    }


}




@media (max-width: 820px) {
    .linemiddle {
        left: 0.7em;
    }

    .rbcontainer,
    .leftrbcontainer {
        left: 18.65em;
        bottom: 6em;
    }

    #m .rbcontainer {
        left: 47.65em;
    }

    .line,
    .leftline {
        left: 35.6em;
        top: 6em;
        width: 104px;
    }

    .pin {
        left: 40.5em;
        top: 5em;
    }

    #m .line {
        top: 6em;
        width: 96px;
        left: 41.6em;
    }

    #m .year {
        left: 31em;
    }

    .year {
        left: 26em;
        bottom: 0em;
    }
    .year,
    .leftyear {
        font-size: 1.4em;

    }
    .headerwrap{
        left: 18em;
    }
    .leftyear{
        left: 26em;
         top: 2.5em;
    }



}



@media (max-width:754px) {
    #m .rbcontainer {
        left: 18.65em;
        bottom: 6em;
    }
    #m .line {
        left: 35.6em;
        top: 6em;
        width: 104px;
    }

    #m .year {
        left: 26em;
  
    }

}


@media (max-width:680px) {
    .wrapper{
        top: -10em;
    }
    .linemiddle{
        left: -3.8em;
        top: 100em;
    }
    .line,.leftline,#m .line {
        left: 32.4em;
        top: 6em;
        width: 82px;
    }
    .pin{
        left: 36em;
        top: 5.3em;
    }
    .year,.leftyear, #m .year{
        left: 23.5em;
    }
    .headerwrap{
        left: 15em;
        top: 54em;
    }
}

 @media (max-width: 540px) {
    .linemiddle,.pin{
        display: none;
    }
  
    
 }