@font-face {
    font-family: 'FarmhouseChildren'; 
    src: url("../Assets/fonts/FarmhouseChildren.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'AdventureEiffel'; 
    src: url("../Assets/fonts/AdventureEiffel.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Kbswiftly'; 
    src: url("../Assets/fonts/Kbswiftly.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'LaterOn'; 
    src: url("../Assets/fonts/LaterOn.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Qualitycontrol'; 
    src: url("../Assets/fonts/Qualitycontrol.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Sunflowerharvestotf'; 
    src: url("../Assets/fonts/Sunflowerharvest.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'Sunflowerharvestttf'; 
    src: url("../Assets/fonts/SunflowerHarvestRegular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Thinpencilhandwritingotf'; 
    src: url("../Assets/fonts/Thinpencilhandwriting.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'Thinpencilhandwritingttf'; 
    src: url("../Assets/fonts/ThinPencilHandwriting.ttf") format("truetype");
    font-style: normal;
}












body {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#3c3e53 0.5px, #ffffff 0.5px);
    background-size: 15px 15px;
    background-attachment: scroll;
    left: 0;
    top: 0;
    width: 100%;
    height: 250%;
    position: absolute;
    margin: 0;

}

.Container {
    position: relative;
    top: 50em;
    width: 100%;

}





@media (max-width: 1375px) {
    .Arrow {
        left: 10vw;
    }

}

@media (max-width: 1200px) {
    .AboutMepos {
        top: 27vw;
    }
}

@media (max-width: 1100px) {
    .Arrow {
        transform: rotate(42deg);
        left: 0;
    }

}

@media (max-width: 970px) {
    .Arrow {
        transform: rotate(42deg);
        left: -2em;
        top: 0;
    }

}

@media (max-width: 880px) {
    .pos {
        left: 2em;
        font-size: 19px;
    }

    .StuttgartStroke {
        top: 70px;
        left: 160px;
    }

    .AboutMepos {
        top: 30vw;
    }

    .AboutMeHeader {
        font-size: 4em;
        text-align: center;
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .pos {
        top: 7em;
        left: 1em;
        font-size: 16px;
    }

    .StuttgartStroke {
        top: 47px;
        left: 104px;
    }

    .AboutMeHeader {
        font-size: 3em;
    }

    .AboutMepos {
        top: 16em;
    }

    .Aboutmetext , .AboutmeContact {
        font-size: 16px;
        margin-left: 3vw;
    }
}


@media (max-width: 643px) {
    .TextmarkerCircle {
        top: 97px;
        left: 0px;
    }
}


@media (max-width: 540px) {
    .pos {
        display: contents;

    }
    .LanguageHelperPos{display: none}
    .StuttgartStroke {
        top: 136px;
        left: 145px;
        width: 219px;
    }

    .Arrow {
        width: 100px;
        transform: rotate(108deg);
        left: 1em;
        top: 36px;
    }

    .AboutMepos {
        display: contents;
    }

    .Container {
        top: 10em;
    }

    .Segoe.Header,
    .Consolas.Intro,
    .Consolas.Name {
        position: relative;
        margin-left: 15px;
        padding-right: 15px;
    }

    .ProjectIntroPos {
        top: 5em;
    }

    .ProjectIntroText {
        font-size: 23px;
    }

    .ProjectPos {
        top: 16em;
    }
}

@media (max-width: 381px) {
    .Arrow {
        width: 80px;
        transform: rotate(146deg);
        left: 68vw;
        top: 0px;
    }

}

@media (max-width:254px) {
    .ProjectIntroText {
        min-width: 230px;
    }
}