:root{
    --navbar-height: 80px;
    --Mobile-Width:850px
}

 .navula:hover,.hover:hover{
    transition: ease-in-out 0.5s;
    color: rgb(75, 75, 75)
}


.iconLefTop {
    padding: 25px 30px;
    max-width: 30vw;
    float: left;
}

.g{
    color: black;
    padding: 0 ;
    margin: 0 ;
}


.nav{
    height: var(--navbar-height);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.logo{
    color: black;
    margin-left: 30px;
    font-family: "Consolas", serif;
    text-decoration: none;
    z-index: 6;
}
.navul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    transition: ease-in-out 0.5s;

}
.navli {
    height: 100%;
    width: 85px;
    position: relative;

}
.navWrapper{
    position: relative;
    right: 5.7em;
}
.navDiv{
    width: 25px;
    text-align: center;
    align-content: center;
  display: grid; 
}
.navDiv:hover , .navDiv:hover .De , .navDiv:hover .En {
    cursor: pointer;
}

.De{

}
.En{

}
.LanguageSelectedBar
{
}
 
#De , #En{
    visibility:hidden;
    display: none;
}


#En:checked ~ .LanguageSelectedBar,
#De:checked ~ .LanguageSelectedBar
{
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 100px;
}
 
 
 


.navula {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
    display: flex;
    align-items: center;
}
.toggle_button {
    width: 30px;
    height: 23px;

    position: absolute;
    top :25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 100px;

}



@media(max-width: 540px){

    .toggle_button{
        display: flex;
        z-index: 5;
    }
    .navul.navula {
        height: min-content;
        width: 100%;
        background-color:transparent;
        backdrop-filter: blur(20px);
        opacity: 1;
        left: 0;
        z-index: 5;
        display: none;
        position: absolute;
        top: var(--navbar-height);
        transition: ease-in-out 0.5s;
        top: 65px;
        margin: 0;
       
     }
    .navli {
        height: min-content;
        width: 100%;
        right: 0;
    }
    .navula {
        padding: 30px 0;
    }


    #toggle_button:checked ~ ul{
        display: block;
    }
    #En:checked ~ .LanguageSelectedBar,
    #De:checked ~ .LanguageSelectedBar
    {
        width: 20px;
        right:  calc((20px -  100vw) / 2)!important;
        position: relative;
    }
     
}
 