:root {
    --navbar-height: 80px;
}

.nav {
    font-family: "Consolas", sans-serif;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
    height: var(--navbar-height);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.logo {
    color: black;
    padding: 0;
    margin: 0 0 0 30px;
    font-family: "Consolas", sans-serif;
    font-weight: normal;
    text-decoration: none;
    z-index: 6;
}

.LanguageContainer {
    height: 100%;
    position: relative;
    text-align: center;
    align-content: center;
    display: grid;
}

.links {
    height: 100%;
    width: 85px;
    position: relative;

}

.LanguageContainer:hover,
.De:hover,
.En:hover {
    cursor: pointer;
}

.De,
.En {
    font-family: "Consolas", sans-serif;
    font-weight: normal;
    margin: 5px;
}

.RadioDe,
.RadioEn {
    visibility: hidden;
    display: none;
}

.RadioEn:checked~.LanguageSelectedBar,
.RadioDe:checked~.LanguageSelectedBar {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 100px;
    display: block;
}

.LiContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    transition: ease-in-out 0.5s;
    color: black;
    text-decoration: none;
    position: relative;
    right: 5.7em;
}


.LinkText {
    transition: ease-in-out 0.5s;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.LinkText:hover{
    transition: ease-in-out 0.5s;
    color: gray;
}

.togglebtn {
    display: none;
}
 

.togglebutton {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 100px;

}



@media(max-width: 540px) {
    .LanguageContainer{
        height: max-content;
        padding-bottom: 10px;
    }
    .togglebutton {
        display: flex;
        z-index: 5;
    }

    .LiContainer {
        height: min-content;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        opacity: 1;
        left: 0;
        z-index: 5;
        display: none;
        position: absolute;
        transition: ease-in-out 0.5s;
        top: 65px;
        margin: 0;
        padding: 0;

    }

    .links {
        height: min-content;
        width: 100%;
        right: 0;
    }

    .LinkText {
        padding: 30px 0;
    }

    .togglebtn:checked~ul {
        display: block;
    }

    .RadioEn:checked~.LanguageSelectedBar,
    .RadioDe:checked~.LanguageSelectedBar {
        width: 30px !important;
        right: calc((30px - 100vw) / 2) !important;
        position: relative;
    }

}