 @font-face {
    font-family: 'Farmhouse Children';
    font-weight: normal;
    font-style: normal;
    src: url("../Assets/fonts/Farmhouse Children.otf") format("opentype");
}
 
@font-face {
    font-family: 'KBSwiftly';
    font-weight: normal;
    font-style: normal;
    src: url("../Assets/fonts/KBSwiftly.ttf") format("truetype");

}
 
 

 